@{
    ViewBag.Title = "Tasks";
}

<div ng-controller="TaskHistoryController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="taskHistoryTable" class="table table-bordered table-striped tasks-history-table"></table>
        </div>
    </div>
</div>

@*<script src="@Url.Content("~/app/components/tasks/controllers/taskHistoryController.js")"></script>*@