<div id="notready-modal" class="modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div id="logoutModal"><span class="glyphicon glyphicon-log-out"> Logout</span></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="reasonCodeName" class="alertTime"><span></span></p>
                <p id="notReadyDurationTotal">
                    <span>Total Time:</span>
                    <span class="hours"></span>
                    <span>:</span>
                    <span class="minutes"></span>
                    <span>:</span>
                    <span class="seconds"></span>
                    <span class="timeLeft" style="display:none"></span>
                </p>
                <p id="notReadyDuration">
                    <span class="hours"></span>
                    <span>:</span>
                    <span class="minutes"></span>
                    <span>:</span>
                    <span class="seconds"></span>
                    <span class="timeLeft" style="display:none"></span>
                </p>
            </div>
        </div>
    </div>
</div>
