
@{
    ViewBag.Title = "Unauthorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-danger">Ошибка доступа.</h1>
<h2 class="text-danger">Вы не можете получить доступ к данному ресурсу.</h2>

